<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaoma.sofa.boot.mapper.UserMapper">
    <select id="findByName" resultType="com.xiaoma.sofa.boot.entity.User">
        select id,name,age,sex from user where name=#{name}
    </select>
</mapper>